@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MojeFakture</h1>
    <br />
    <p class="lead">Web Aplikacija MojeFakture za stvaranje i pregledavanje faktura.</p>
    <br />
    <br />
    <p><a href="../Fakture/New" class="btn btn-primary btn-lg">Kreiraj fakturu &raquo;</a></p>
</div>